header {
  display: grid;
  justify-items: center;
  background-image: url("../assets/images/Background_Intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  padding-inline: 120px;
  margin-inline: auto;
}

h1,
h2,
h3 {
  font: inherit;
}

.container-info {
  justify-items: center;
  text-align: center;
  width: 680px;
}

.container-tags {
  margin-top: 80px;
}
.container-tags-tag {
  height: 40px;
  font: var(--text-md);
  background-color: var(--gray-300);
  color: var(--gray-500);
  border-radius: 100;
  padding: 8px 16px;
}

img {
  height: 112px;
  margin-bottom: 56px;
}

.info {
  padding-top: 120px;
}

h1 {
  font: var(--title-lg);
  color: var(--gray-600);
  margin-top: 8px;
  margin-bottom: 20px;
}

p {
  color: var(--gray-400);
}

#info {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-top: 80px;
}

#info li {
  background-color: var(--gray-300);
  color: var(--gray-500);
  border-radius: 20px;
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  width: auto;
}

#info img {
  height: 24px;
  margin: 0px;
  color: var(--red);
}

#CaretDoubleDown-icon {
  height: 32px;
  margin-top: 94px;
}
